@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?29779466');
  src: url('../font/fontello.eot?29779466#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?29779466') format('woff2'),
       url('../font/fontello.woff?29779466') format('woff'),
       url('../font/fontello.ttf?29779466') format('truetype'),
       url('../font/fontello.svg?29779466#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?29779466#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; padding-right: 4px; } /* '' */
.icon-basket:before { content: '\e801'; padding-right: 4px; } /* '' */
.icon-users:before { content: '\e802'; padding-right: 4px;} /* '' */
.icon-search:before { content: '\e803'; padding-right: 4px;} /* '' */
.icon-cancel-squared:before { content: '\e804'; padding-right: 4px; } /* '' */
.icon-plus-squared:before { content: '\e805'; padding-right: 4px;} /* '' */
.icon-minus-squared:before { content: '\e806'; padding-right: 4px; } /* '' */
.icon-right-dir:before { content: '\e807'; padding-right: 4px;} /* '' */
.icon-left-dir:before { content: '\e808'; padding-right: 4px;}/* '' */
.icon-down-bold:before { content: '\e809'; padding-right: 4px;} /* '' */
.icon-lock:before { content: '\e80a'; padding-right: 4px;} /* '' */
.icon-lock-open:before { content: '\e80b'; padding-right: 4px;} /* '' */
.icon-cancel:before { content: '\e80c'; padding-right: 4px;} /* '' */
.icon-block:before { content: '\e80d'; padding-right: 4px; } /* '' */
.icon-user-add:before { content: '\e80e'; padding-right: 4px;} /* '' */
.icon-check:before { content: '\e80f'; padding-right: 4px; } /* '' */