body
{
    margin: 0px 0px 0px 0px;
    background-color: #cccccc;
/*
    -webkit-transition-delay: 1s;
    transition: all 2s ease;
    transition: background-color 1s;
*/

    
}

header 
{
    display: flex; /* praca domowa w3c flexbox*/
    flex-direction: column; /*jeden nad drugim */
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

/*    MENU GORNE    */

#upper_menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #2c2c2c;
    
    position: fixed;
    z-index: 100;
}

#upper_menu div
{
    display: flex;
    flex-direction: row;    
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

/*     PRZYCISKI    */

#upper_menu div div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60%;
    
    background-color: #2c2c2c;
    border: 2px solid rgb(83, 83, 83);
    border-radius: 13px;

    
    color: whitesmoke;
    font-style: normal;
    font-family: monospace;
    font-family: arial;
    font-family: 'Raleway', sans-serif;
    
    transition-duration: 0.15s;
    transition-timing-function: linear;
    
    font-weight: 400;
    font-size: 12px;
}

#logging 
{
    margin-left: auto;
}

#upper_menu div div:hover
{
    background-color: rgb(190, 162, 69);
    border: 2px solid rgb(190, 162, 69);
    border-radius: 13px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

#upper_menu div h2
{
    font-weight: 100;
    margin-right:5px;
    font-family: Verdana;
    font-family: 'Raleway', sans-serif;
    
    font-weight: 300;
    font-size: 14px;
    color: #a2a2a2;
}

#upper_menu div h3
{
    font-weight: 100;
    font-style: normal;
    margin-right: 16px;
    font-family: Verdana;
    font-family: 'Raleway', sans-serif;

    font-weight: 600;
    font-size: 14px;
    color: rgb(190, 162, 69); 
}

/*      LOOG      */

#logo
{
    display: flex;
    align-self: center;
    margin-right: auto;
    margin-left: 6px;
    min-height: 100%;
    min-width: 196px;
    background-size: 196px 40px;
    background-attachment: local; 
    background-image: url("logo/main3.png");
}

#logo:hover
{
    min-height: 100%;
    min-width: 196px;
    background-size: 196px 40px;
    background-image: url("logo/main1.png");
    background-attachment: local;
    cursor: pointer;

}

/*    MENU DOLNE    */

#lower_menu
{  
    position: sticky;
    margin-top: 40px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #cccccc;
    background-image: linear-gradient( to right, rgb(60, 56, 56), rgba(255,0,0,0));
    box-shadow: 0px 4px 5px #6a6a6a;
}

#lower_menu div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 90%;
    margin-right: 0px;
    
   background-color: rgba(255,255,255,0);
    
    font-family: Verdana;
    font-family: 'Raleway', sans-serif;

    font-weight: 400;
    color: whitesmoke;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    
}

#lower_menu div:hover
{    
    background-color: rgba(255,255,255,0.05);
/*    height: 80%;*/
/*    font-size: 14px;*/
    font-weight: 550;
    color: #ffffff;
/*    text-shadow: 2px 2px 4px rgba(255,255,255,0.5);*/
/*    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);*/
    padding-top: 0px;
    margin-top: 5px;
    border-bottom-style: ridge;
    border-bottom-color: #ffc400; 
    border-bottom-width: thick;
    cursor: pointer;
}

/*      STRONA GLOWNA     */

#front_page
{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-height: 1000px;
/*  height: 930px; */
/*    background-color: #f8f8f8;*/
/*    SZTOSSSSSSSSS*/
    background-image: linear-gradient(#ffffff, #ffffff, #f8f8f8, rgba(255, 231, 154, 0.69));
    font-family: monospace;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

#front_page p
{
    padding: 0px 0px 0px 10px;
}

/*      POLE FORMULARZY       */

#login_field
{
    margin-top: 30px;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /*background-color: whitesmoke;*/ 
    font-weight: 500;
}

h3
{
    font-family: Verdana;
    font-family: 'Raleway', sans-serif;
    color: #2c2c2c;
    font-size: 18px;
}

.v1
{
    border-left: 6px ridge;
    border-left-color: aqua;
    border-left-width: thick;
    height: 300px;
    margin-left: 140px;
}

input
{
    margin-top: 1px;
    padding-right: 0px;
    padding-left: 10px;
    height: 28px;
    width: 250px;
    font-family: 'Raleway', sans-serif;
    font-family: Verdana;
    font-size: 13px;
    border: 2px solid #e3c04e;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    transition: width 0.4s ease-in-out;
}

input:focus
{
    background-color: rgb(255, 249, 228);
    border: 2px solid rgb(237, 187, 22);
    
}

input::selection
{
    background-color: rgba(255, 196, 0, 0.3);
}

input::placeholder
{
    font-size: 12px;
    color: #b7a25e;
}

input[type=submit]
{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: #4a4a4a;
    color: white;
    height: 32px;
    width: 120px;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    font-weight: 400;
    padding-right: 10px;

}

input[type=submit]:hover
{
    background-color: rgb(226, 187, 60);
    background-color: rgb(237, 187, 22);
    color: black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

}

/*      EDYCJA PROFILU        */

#profile_field
{
    margin-top: 30px;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
/*    text-align-last: justify;*/
/*   padding-right: 600px;*/
    width: 100%;
    height: 100%;
    /*background-color: whitesmoke;*/ 
    font-weight: 500;

}

.profile-data
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}

.profile-data div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
/*    margin-top: 5px;*/
}

.user-data
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.user-data div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 6px;
/*    margin-left: 10px;*/
    margin-top: 5px;
}

/*      PRZYCISKI     */

.mybutton
{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    
    background-color: white;
    border: 2px solid rgb(146, 146, 146);
    border-radius: 13px;
    
    color: rgb(0, 0, 0);
    font-style: normal;
    font-family: monospace;
    font-family: arial;
    font-family: 'Raleway', sans-serif;
    
    transition-duration: 0.15s;
    transition-timing-function: linear;
    
    font-weight: 400;
    font-size: 12px;  
}

.mybutton:hover
{
    background-color: rgb(83, 83, 83);
    border: 2px solid rgb(83, 83, 83);
    color: white;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.mybutton2
{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    
    background-color: rgb(255, 243, 203);
    border: 2px solid rgb(226, 185, 51);
    border-radius: 13px;
    
    color: black;
    font-style: normal;
    font-family: monospace;
    font-family: arial;
    font-family: 'Raleway', sans-serif;
    
    /* transition-duration: 0.15s;
    transition-timing-function: linear; */

    margin-bottom: 4px;
    margin-top: auto;
    
    font-weight: 600;
    font-size: 12px;  
    
/*    display: none;*/
    opacity: 0;
    
}

.mybutton2:hover
{
    background-color: rgb(83, 83, 83);
    border: 2px solid rgb(83, 83, 83);
    color: white;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

/*      PANEL ADMINISTRATORA      */

#admin-buttons
{
    display: flex;
    flex-direction: row;
}

#profile-info
{
    display: flex;
    align-content: flex-start;
    margin-top: 15px;
    text-align: left;
    padding-bottom: 5px;
}

.search-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.search-box div
{
    display: flex;
    justify-content: center;
    margin-left: 6px;
    margin-top: 5px;
}

.result
{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

h5
{
    text-align: left;   
}

/*      WYSZUKIWARKA PRODUKTOW      */

.product-data
{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.product-data div
{
    justify-content: center;
    align-items: center;
    align-self: center;
/*    margin-left: 10px;*/
/*    margin-top: 5px;*/
}

.strudy
{
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.strudy th, .strudy td
{
    padding: 5px;
}

.sturdy th:nth-child(1),
.sturdy th:nth-child(2),
.sturdy th:nth-child(6)
{
    width: 5%;
}

.sturdy th:nth-child(3) 
{
  width: 30%;
} 

.sturdy th:nth-child(4) 
{
  width: 45%;
} 

.sturdy th:nth-child(5)
{
  width: 10%;
    text-align: right;
}

/*      DODAWANIE PRODUKTOW       */

#adding-product
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adding-product input
{
    margin-top: 7px;
    margin-right: 6px;
}

/*      POLA PRODUKTOW        */

.display-products
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.display-product
{
    max-width: 250px;
    min-width: 250px;
    min-height: 155px;
    max-height: 155px;
    border: 3px solid rgba(105, 96, 66, 0.33);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    font-size: 12px;  
    align-self: center;
}

.display-product:hover
{
/*    -webkit-transition-delay: 0.1s;*/
    border: 3px solid rgb(237, 187, 22);
    background-color: rgb(255, 250, 235);
    color: black;
    align-content: center;
    align-items: center;
   
    table-layout: fixed;
    font-size: 12px;
   
}

.display-product:hover div
{
    opacity: 1;
    margin-bottom: 6px;
}

.display-product:hover img
{
    display: none;  
}

.display-product span
{
    display: none;
    font-size: 10px;
}

.display-product:hover span
{
    display: block;  
}

.display-product tr
{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-content: center;
    align-self: center;
    justify-content: center;
/*    margin-top: 4px;*/
    margin-bottom: auto;
/*    padding-bottom: 5px;*/
}

.display-product th:nth-child(2)
{
    color:rgb(118, 118, 118);
    font-size: 13px;
    font-weight: 600;
    padding-left: 50px;
}

.display-product:hover th:nth-child(2)
{
    color:rgb(221, 170, 0);
    padding-left: 150px;
}

.display-product tr:nth-child(1)
{
    min-height: 30px;
}

.display-product tr:nth-child(2)
{
    padding-left: 20px;
/*    padding-bottom: 10px;*/
    text-align: center;
    align-content: center;
    align-self: center;
    min-height: 40px;
    max-height: 40px;
}

.display-product:hover tr:nth-child(2)
{
    padding-right: 20px; 
    font-weight: 600;
    text-shadow: 1px 0px 0px black;
}

.display-product span
{
    min-height: 50px;
    max-height: 50px;
    pointer-events: none;
}

.display-product tr:nth-child(4)
{
    text-align: center;
    min-height: 14px;
    max-height: 14px;
/*    pointer-events: none;*/
}

a
{
    color: black;
    text-decoration: none;
}

/*      STRONA GŁÓWNA    */

/*      SLIDER          */ 
slider
{
    margin-top: 3px;
    display: block;
    width: 1200px;
    height: 263px;
/*    background-color: green;*/
    overflow: hidden;
    position: absolute;
}

slider > *
{
    display: block;
    width: 100%;
    height: 85%;
/*    background-color: red;*/
    overflow: hidden;
    position: absolute;
    animation: slide 12s infinite;
}

#slide1
{
    opacity: 1;
    left: 0%;
    background-image: url(gallery/4.png);
    animation-delay: -1s;
    background-size: cover;
    background-position: center;
}

#slide2
{
    opacity: 0;
    animation-delay: 2s;
    background-image: url(gallery/3.png);
    background-size: cover;
    background-position: center;
}

#slide3
{
    opacity: 0;
    animation-delay: 5s;
    background-image: url(gallery/2.png);
    background-size: cover;
    background-position: center;
}

#slide4
{
    opacity: 0;
    animation-delay: 8s;
    background-image: url(gallery/1.png);
    background-size: cover;
    background-position: center;
}

@keyframes slide
{
    0% { left: 100%; width: 100%; opacity: 1;}
    5% { left: 0%; opacity: 1;}
    25% {left: 0%; opacity: 1;}
    30% { left: -100%; width: 100%; opacity: 1;}
    30.0001% { left: -100%; width: 0%; opacity: 1;}
    100% { left: 100%; width: 0%; opacity: 1;}
}

/*      WITAJ         */

#welcome
{
/*    background-color: rgba(128, 128, 128, 0.15);*/
    background-image: linear-gradient(#ffffff, #ffffff, rgba(255, 255, 255, 0));
    width: 100%;
    height: 500px;
}

#welcome div
{
    
    margin-top: 270px;
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
    
    justify-content: center;
}

#welcome h5
{
    text-align: center;
}

/*      ANIMOWANE LOGO     */

#logo-animation
{
    margin-top: 50px;
    align-self: center;
    width: 600px;
    height: 120px;
    display: flex;
    animation-name: logo-anim;
    animation-duration: 10s;
    animation-delay: -1s;
    animation-iteration-count: infinite;
    background-size: 100%;
    background-position: center;
}

@keyframes logo-anim
{
    0%  { background-image: url(logo/main3.png);   opacity: 1}
    20%  { background-image: url(logo/main3.png);   opacity: 0.75}
    30%  { background-image: url(logo/main3.png);   opacity: 0.5}
    40%  { background-image: url(logo/main3.png);   opacity: 0.25}
    50%  { background-image: url(logo/main3.png);   opacity: 0.0}
    60%  { background-image: url(logo/main2.png);   opacity: 1}
    70%  { background-image: url(logo/main1.png);   opacity: 1}
    80%  { background-image: url(logo/main1.png);   opacity: 0}
    80%  { background-image: url(logo/main2.png);   opacity: 0}
    100%  { background-image: url(logo/main3.png);   opacity: 1}
}

/*      KOSZYK         */
    
.cart td
{
    font-size: 12px;
}

.cart h4
{
    font-size: 15px;
}

/*      GALERIA       */
.gallery {
    justify-content: center;
    width: 1140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;

}

.gallery img {
    /* margin: 30px; */
    padding: 30px;
    margin: 10px;
    width: 100px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    border: 2px solid rgb(180, 180, 180);
    min-width: 160px;
    min-height: 160px
}

.gallery img:hover
{
    border: 2px solid rgb(224, 192, 7);
    background-color: #fff9c7;
}